@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: bg-base-100;
  --foreground: bg-base-content;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: bg-base-100;
    --foreground: bg-base-content;
  }
}

body {
  font-family: 'Poppins', 'TH SarabunPSK', sans-serif;
}

